body
{background:blue}
h2
{font-famiy:comic sans ms; 
background-color:white;
border:2px solid; 
text-align:center}
table
{background:white;
padding:20px 20px 20px 20px;
border:2px dotted}
.td
{font-weight:bold}